<div class="text-center">
    <div id="top-head" class="col col-md-12">
        <h1>My Quotes</h1>
    </div>
</div>
<hr>

<div class="jumbotron">
    <div class="container">

        <div>
            <div class="row">

                <div class="col col-md-5">
                    <img src=
                    "https://media.tenor.com/images/1cf4ac2bbe828ef8ba4a76e5eb546770/tenor.gif" alt="">
                    
                </div>
                <div class="col col-md-3">
                    <app-quote-form (addQuote)="addNewQuote($event)"></app-quote-form>
                </div>

                <div class="col col-md-4">

                    <div *ngFor="let quote of quotes; let i = index">
                        <p appHighlight *ngIf="hUpvote()===quote.uvotes && 
                        quote.uvotes>0">
                            Quote Name: {{quote.quote}}
                        </p>

                        <p *ngIf="hUpvote()!==quote.uVotes || quote.uVotes===0">
                            Quote Name   : {{quote.quote}}
                        </p>



                        <app-quote-details [quote]='quote' (isComplete)='deleteQuote($event,i)'></app-quote-details>
                        <hr>

                        <div class="row">
                            <div class="colo-md-3">
                                <button class="btn btn-danger" (click)='deleteQuote(true,i)'>
                                    <i class="fa fa-trash"></i>
                                </button>

                            </div>
                            <div class="colo-md-3">
                                <button class="btn btn-success" (click)="upVote(i)">
                                    {{quotes[i].uvotes}}
                                    <i class="fa fa-thumbs-up"></i>
                                </button>

                            </div>
                            <div class="colo-md-3">
                                <button class="btn btn-danger" (click)="downVote(i)">
                                    {{quotes[i].dvotes}}
                                    <i class="fa fa-thumbs-down"></i>
                                </button>
                                <hr>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>