<div class="jumbotron">
<div class="container">
<div class="col col-md-12" >
    <h2>Independent Project</h2>
</div>

<div >
    <div class="row">
        <div class="col col-md-6">
            <h3>Introduction of the Project </h3>
        </div>
        <div class="col col-md-3">
            <h2>My Quotes</h2>
            <app-quote-form (addQuote)="addNewQuote($event)"></app-quote-form>
        </div>
    
        <div class="col col-md-3">
            <ul>
                <div *ngFor='let quote of quotes;let i = index'>
                    <li appHighlight>Quote Name: {{quote.quote}}</li> 
                    <app-quote-details [quote]='quote' (isComplete)= 'deleteQuote($event,i)'></app-quote-details>
                </div>
            </ul>
        </div>
    </div>
</div>
</div>
</div>