      <form  (ngSubmit)='submitQuote()' #quoteForm='ngForm'>
        <div class="form-group">
            <label for="author">Author:</label>
            <input type="text" class="form-control" id="author" [(ngModel)]="newQuote.author" 
            name="author" #author="ngModel" required>
            <div [hidden]="author.valid || author.pristine" class="alert alert-danger">
                <p> Author is Required</p>
            </div>
            
        </div>
        <div class="form-group">
            <label for="publisher">Publisher:</label>
            <input type="text" required class="form-control" id="publisher" [(ngModel)]="newQuote.publisher" name="publisher"
            #publisher="ngModel" required>
            <div [hidden]="publisher.valid || publisher.pristine" class="alert alert-danger">
                <p> Publisher is Required</p>
            </div>
        </div>
          <div class="form-group">
              <label for="quote">Quote</label>
              <textarea class="form-control" id="quote" [(ngModel)]="newQuote.quote" name="quote" rows="4"
              #quote="ngModel" required></textarea>

              <div [hidden]="quote.valid || quote.pristine" class="alert alert-danger">
                  <p> Quote is Required</p>
              </div>

          </div>
          <button class="btn btn-primary" type="submit" name="submit" value="SUBMIT">SUBMIT</button>
      </form>
      <p></p>
      <hr>
 